In [ ]:
#1. Given the lengths of three sides of a triangle, calculate the area of the triangle.

a=float(input("Enter length of 1st side:"))  
b=float(input("Enter length of 2nd side:"))  
c=float(input("Enter length of 3rd side:")) 
if (a+b>c):
  s=(a+b+c)/2  
  area=(s*(s-a)*(s-b)*(s-c))**0.5  
  print("The area of the triangle:",round(area,3))  
else:
  print("The triangle is not possible")

Enter length of 1st side:15.5
Enter length of 2nd side:12.6
Enter length of 3rd side:20.2
The area of the triangle: 97.624

In [ ]:
#1. Given the lengths of three sides of a triangle, calculate the area of the triangle.

a=float(input("Enter length of 1st side:"))  
b=float(input("Enter length of 2nd side:"))  
c=float(input("Enter length of 3rd side:")) 
if (a+b>c):
  s=(a+b+c)/2  
  area=(s*(s-a)*(s-b)*(s-c))**0.5  
  print("The area of the triangle:",round(area,3))  
else:
  print("The triangle is not possible")

Enter length of 1st side:10.2
Enter length of 2nd side:19.4
Enter length of 3rd side:34.6
The triangle is not possible

In [ ]:
#2. Take a string from end user and check if the value is palindrome or not.

s=input("Enter a string:")
if(s==s[::-1]):
    print("Given string {} is palindrome".format(s))
else:
    print("Given string {} is not palindrome".format(s))

Enter a string:madam
Given string madam is palindrome

In [ ]:
#3. Write a program that reads a year from the user and displays a message indicating whether year is leap year or not.

yr=int(input("Enter the year:"))
if(yr%4==0 and yr%100!=0 or yr%400==0):
    print("{} is leap year".format(yr))
else:
    print("{} is not a leap year".format(yr))

Enter the year:2016
2016 is leap year

In [ ]:
#4. Space to Hyphen problem
#   Take a string as input, and replaces spaces " " with hyphens "-", and returns a string.
#   Input: "This program converts spaces into hyphen"
#   Output: "This-program-converts-spaces-into-hyphen"

n=input("Enter a string : ")
print(n.replace(' ','-'))

Enter a string : This program converts spaces into hyphen
This-program-converts-spaces-into-hyphen

In [ ]:
#5. Unique Sort Problem.
#   Take a string as input that accepts a comma separated sequence of words as input and prints the unique words in sorted form (alphanumerically).
#   *Input*: orange,white,red,cyan,green,magenta,cyan,pink,white
#   *Output*: cyan,green,magenta,orange,pink,red,white

str=input("Enter a string: ")
s=str.split()
s.sort()
list(s)
set(s)

Enter a string: orange white red cyan green magenta cyan pink white

{'cyan', 'green', 'magenta', 'orange', 'pink', 'red', 'white'}

In [16]:
#6. Tax Calculator
#   Ask the user for their monthly salary. Calculate whether they have to pay tax and if so,
#   how much is that amount .Print the result.

sal=int(input("Enter salary : "))
if (sal>=0) and (sal<=250000):
    tax=(sal*0)
elif (sal>250000) and (sal<=500000):
    tax=(sal*0.05)
elif (sal>500000) and (sal<=750000):
    tax=(sal*0.1)
elif (sal>750000) and (sal<=1000000):
    tax=(sal*0.15)
elif (sal>1000000) and (sal<=1250000):
    tax=(sal*0.2)
elif (sal>1250000) and (sal<=1500000):
    tax=(sal*0.25)
else:
    tax=(sal*0.3)
print("Tax is : ",tax)

Enter salary : 850000
Tax is :  127500.0

In [ ]:
#7. Take a list of integers as an argument, and converts it into a single integer (return the integer).
#   input:[11,33,50]
#   output:113350

#   method 1:
l=['11','33','50']
s=""
s=s.join(l)
print(s)

113350

In [ ]:
#7. Take a list of integers as an argument, and converts it into a single integer (return the integer).
#   input:[11,33,50]
#   output:113350

l=[11,33,50]
for i in l:
  print(i,end="")

113350

In [ ]:
#8. Units of Time
#   Create a program that reads duration from the user as a number of days, hours, minutes, and seconds. 
#   Compute and display the total number of seconds represented by this duration.

secpermin=60
secperhour=3600
secperday=86400
days=int(input("Enter number of Days: "))
hours=int(input("Enter number of Hours: "))
minutes=int(input("Enter number of Minutes: "))
seconds=int(input("Enter number of Seconds: "))
totalsecs=days*secperday
totalsecs=totalsecs+(hours*secperhour)
totalsecs=totalsecs+(minutes*secpermin)
totalsecs=totalsecs+seconds
print("Total number of seconds = ","%d"%(totalsecs))

Enter number of Days: 3
Enter number of Hours: 24
Enter number of Minutes: 70
Enter number of Seconds: 60
Total number of seconds =  349860

In [ ]:
#9. Sort 3 integers
#   Given three integers (given through user input), sort the numbers using |min| and |max| functions.

a=int(input("Enter a number:"))
b=int(input("Enter b number:"))
c=int(input("Enter c number:"))
x=min(a,b,c)
y=max(a,b,c)
z=(a+b+c)-x-y
print("Sorted order is:",x,z,y)

Enter a number:3
Enter b number:7
Enter c number:2
Sorted order is: 2 3 7

In [ ]:
#10.  Write a program that reads a date from the user and computes its immediate successor.The date is the format YYYY-MM-DD. So, 2020-04-15
#     will have the successor 2020-04-16.

yr=int(input("Enter a year : "))
if yr%400== 0:
    leap_year=True
elif yr%100==0:
    leap_year=False
elif yr%4==0:
    leap_year=True
else:
    leap_year=False
month=int(input("Enter a month between 1 to 12 : "))
if month in (1, 3, 5, 7, 8, 10, 12):
    month_length=31
elif month==2:
    if leap_year:
        month_length=29
    else:
        month_length=28
else:
    month_length=30
day=int(input("Enter a day between 1 to 31 : "))
if day<month_length:
    day+=1
else:
    day=1
    if month==12:
        month=1
        yr+=1
    else:
        month+=1
print("The immediate successor is YYYY-MM-DD : %d-%d-%d." %(yr,month,day))

Enter a year : 2020
Enter a month between 1 to 12 : 12
Enter a day between 1 to 31 : 31
The immediate successor is YYYY-MM-DD : 2021-1-1.

In [ ]:
#11. Compute product of a list of numbers [45,3,2,89,72,1,10,7]
#    Output: 121111200

list=[45,3,2,89,72,1,10,7]
x=1
for i in range(len(list)):
    x=x*list[i]
print(x)

121111200

In [ ]:
#12.  Compute given Num_list=[5,6,8,34,89,1] to get desired output.
#     Output : Out_list=[11,14,42,123,90]

l=[5,6,8,34,89,1]
Out_list=[]
for i in range(len(l)-1):
    ol=l[i]+l[i+1]
    Out_list.append(ol)
print("Out_list=",Out_list)

Out_list= [11, 14, 42, 123, 90]

In [ ]:
#13.  Compute given Num_tuple=(5,6,8,3,9,1) to get desired output.
#     Output : Out_list=[5,30,240,720,6480,6480]  

t=(5,6,8,3,9,1)
Out_list=[]
Out_list.append(t[0])
for i in range(len(t)-1):
    p=Out_list[i]*t[i+1]
    Out_list.append(p)
print("Out_list=",Out_list)

Out_list= [5, 30, 240, 720, 6480, 6480]

In [ ]:
#14.  Write a Python code that takes a number and returns a list of its digits. So for 586392 it should return [5,8,6,3,9,2].

num=input("Enter a num: ")
list=[]
for i in range(len(num)):
    list.append(num[i])
print(list)

Enter a num: 586392
['5', '8', '6', '3', '9', '2']

In [ ]:
#15. Write a program that finds the longest palindromic substring of a given string.

def longestpalindrome(s):
    d=[[False for i in range(len(s))] for i in range(len(s))]
    for i in range(len(s)):
        d[i][i]=True
    maxlen=1
    start=0
    for l in range(2,len(s)+1):
        for i in range(len(s)-l+1):
            end=i+l
            if l==2:
                if s[i]==s[end-1]:
                    d[i][end-1]=True
                    maxlen=l
                    start=i
            else:
                if s[i]==s[end-1] and d[i+1][end-2]:
                    d[i][end-1]=True
                    maxlen=l
                    start=i
    return s[start:start+maxlen]
s=input("Enter a string : ")
print(longestpalindrome(s))

Enter a string : deefeeghi
eefee

In [ ]:
#16.  Substring Check (Bug Funny)
#     Given two binary strings, A (of length 10) and B (of length 5), output 1 if B is a substring of A and 0 otherwise.
#     First two lines of input:
#     1010110010          10110
#     1110111011           10011
#     First two lines of output:
#     1
#     0

t=int(input())
for i in range(t):
  A,B=input("Enter A string and B string : ").split()
  if B in A:
    print("1")
  else:
    print("0")

2
Enter A string and B string : 1010110010 10110
1
Enter A string and B string : 1110111011 10011
0

In [ ]:
#17.  POUR1 - Pouring water
#    Given two vessels, one of which can accommodate a litres of water and the other - b litres of water, 
#    determine the number of steps required to obtain exactly c litres of water in one of the vessels.
#    At the beginning both vessels are empty. The following operations are counted as 'steps':
#    emptying a vessel,filling a vessel,pouring water from one vessel to the other, without spilling, 
#    until one of the vessels is either full or empty.
#    Input
#    An integer t, 1<=t<=100, denoting the number of testcases , followed by t sets of input data, 
#    each consisting of three positive integers a, b, c, not larger than 40000, given in separate lines.
#    Output
#    For each set of input data, output the minimum number of steps required to obtain c litres, or -1 if this is impossible.

def gcd(a,b):
    if b==0: 
        return a 
    return gcd(b,a%b) 
def countsteps(a,b,c): 
    v1=b
    v2=0
    count=1
    while ((v1 is not c) and (v2 is not c)): 
        temp=min(v1,a-v2) 
        v2=v2+temp 
        v1=v1-temp 
        count=count+1
        if ((v2==c)or(v1==c)): 
            break
        if v1==0: 
            v1=b 
            count=count+1
        if v2==a: 
            v2=0
            count=count+1
    return count 
def ispossible(a,b,c): 
    if a>b: 
        temp=a 
        a=b 
        b=temp 
    if c>b: 
        return -1
    if (c%(gcd(b,a)) is not 0): 
        return -1
    return(min(countsteps(b,a,c),countsteps(a,b,c)))
t=int(input("Enter no of testcases : "))
for i in range(t):
  a=int(input("Enter capacity of vessel a : "))
  b=int(input("Enter capacity of vessel b : "))
  c=int(input("Enter capacity to be obtained :"))
  print("Minimum number of steps required is : ",ispossible(a,b,c))

Enter no of testcases : 2
Enter capacity of vessel a : 5
Enter capacity of vessel b : 2
Enter capacity to be obtained :3
Minimum number of steps required is :  2
Enter capacity of vessel a : 2
Enter capacity of vessel b : 3
Enter capacity to be obtained :4
Minimum number of steps required is :  -1